---
title: WhichGameForUs
---



<div class="row mb-5">
  <div class="offset-md-1 col-md-10 text-center">
    <a href="/"> <img src="/assets/images/logo.png" class="img-fluid px-5 pb-3"> </a>

    <h1 class="arvo p-4 ">Which Game For Us !</h1>

    <p class="lead">
      Nous évaluons, selon la liste des bonnes pratiques de « game accessibility guideline », l’accessibilité des jeux vidéo les plus populaires, et nous leur attribuons une note sur 100. Nous revenons aussi sur les bonnes pratiques non présentes. Vous retrouverez l’intégralité de la  liste de bonnes pratiques dans l’onglet « Bonnes pratiques ».
    </p>
  </div>
</div>

<a href="/evenements"><div class="row evenement col-xl-10" title="Accéder aux évènements: live twitch">
    <h2>
      Évènements !
    </h2>
    <div class="eventInner col-xl-9">

      <p>Faire connaître les problèmes d'accessibilité</p>
      <img src="/assets/images/invites/BannerAvril.png" alt="lives sur twitch">
      <button>
        <p>En savoir plus</p>
      </button>

    </div>
</div></a>

<div class="row" id="games">
  <p>{{ site.events.kickoff }}</p>
  <section class="checks col-xl-10 col-xxl-10">
    <div class="checks-center ">
      <article class="evenement" ><h2>Préciser les pourcentages</h2></article>

  {% for category in site.data.structure.categories %}


      <div class="form-check" type="button" data-bs-toggle="collapse" data-bs-target="#{{ category.name }}" aria-expanded="false" aria-controls="{{ category.name }}">


        <label class="form-check-label checkBox" for="check{{ category.name }}" title="afficher les pourcentages en catégorie {{ category.name }}">
          <input class="form-check-input" type="checkbox" value="" id="check{{ category.name }}">
          <p>{{ category.name }}</p>
        </label>
      </div>

  {% endfor %}
    </div>
  </section>
    {% for game in site.games %}
      {% assign slug = game.title | slugify: 'latin' %}
      <div class="col-md-3 mb-4 card-group">

        <div class="card border-0 cardGame">
          <img  src="/assets/images/games/{{ slug }}/{{ slug }}.jpg"
                alt="{{ game.title }}"
                class="card-img-top"
                loading="lazy">
          <div class="bg-secondary h-50 card-body" >
            <h3 class="h5 card-title text-light mb-4">{{ game.title }}</h3>



          </div>

          {% for category in site.data.structure.categories %}
            <div class="collapse" id="{{ category.name }}">
              <div class="card card-body">
                <p>{{ category.name }}</p>
                {% include  evaluation.html
                  guidelines=category.guidelines
                  evaluation=game.evaluation
                  size='small' %}
              </div>
            </div>
          {% endfor %}


            <div class="card-footer mb-3">
              <div class=" mb-3 d-flex justify-content-between w-100 align-items-end">
                <p class="m-0">Globale</p>
                <a href="/jeux/{{ slug }}" class="btn btn-info text-light stretched-link cardBtn" title="voir en détail les pourcentages d'accessibilité pour {{ slug }}">
                  Détails
                </a>

              </div>
              {% include  evaluation.html
                        guidelines=site.data.structure.guidelines
                        evaluation=game.evaluation
                        size='small' %}
            </div>
      </div>
      </div>
    {% endfor %}

</div>
