<footer class="bg-dark text-center text-lg-start footer">
  <div class="p-2" style="background-color: rgba(0, 0, 0, 0.2);"></div>

  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
        <img src="/assets/images/logo.png" class="img-fluid p-4">
        <h5 class="namesite">UnJeuPourMoi</h5>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
        <h5 class="text-uppercase ">La Plateforme</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-ligth">Qui sommes-nous ?</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
        <h5 class="text-uppercase ">Contact</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-ligth">Email</a>
          </li>
          <li>
            <a href="#!" class="text-ligth">Twitter</a>
          </li>
          <li>
            <a href="#!" class="text-ligth">Facebook</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
        <h5 class="text-uppercase mb-0 ">A Propos</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-ligth">Mentions légales</a>
          </li>
          <li>
            <a href="#!" class="text-ligth">Voir les critères de classement</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center text-muted p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright UnJeuPourMoi
  </div>
</footer>
<script src="/assets/javascripts/bootstrap.bundle.min.js"></script>
