<div class="row mb-5">
  <div class="col-md-2">
    <div class="lead">
      {% if include.data.note == 0 %}
        <span class="badge bg-secondary">Non applicable</span>
      {% elsif include.data.note == 1 %}
        <span class="badge bg-danger">Non respecté</span>
      {% elsif include.data.note == 2 %}
        <span class="badge bg-warning">Partiellement respecté</span>
      {% elsif include.data.note == 3 %}
        <span class="badge bg-success">Respecté</span>
      {% endif %}
    </div>
  </div>
  <div class="col-md-8">
    <div class="lead">{{site.data.structure.guidelines[include.guideline]}}</div>
    {% if include.data.screenshot %}
      <img  src="/assets/images/games/{{include.slug}}/{{ include.data.screenshot }}" alt="Screenshot {{include.slug}}" class="img-fluid">
    {% endif %}
    {{ include.data.description }}
  </div>
</div>
