<div class="row mb-5">
  <div class="col-md-2">
    <div class="lead">
      {% if include.data.note == 0 %}
        <span class="badge bg-info p-3 text-wrap" >Non applicable</span>
      {% elsif include.data.note == 1 %}
        <span class="badge bg-danger p-3 text-wrap">Non respecté</span>
      {% elsif include.data.note == 2 %}
        <span class="badge bg-warning p-3 text-wrap">En partie respecté</span>
      {% elsif include.data.note == 3 %}
        <span class="badge bg-success p-3 text-wrap">Respecté</span>
      {% endif %}
    </div>
  </div>
  <div class="guideline col-md-9">
    <div class="lead bg-secondary p-3 rounded">
      {{site.data.structure.guidelines[include.guideline]}}
    </div>
    <div class="mt-4">
      <div class="row align-items-center">
        {% if include.data.screenshot %}
          <img  src="/assets/images/games/{{include.slug}}/{{ include.data.screenshot }}"
                alt="Screenshot {{include.slug}}"
                class="img-fluid mb-4">
        {% endif %}
        <span class="col" >{{ include.data.description }}</span>
      </div>
    </div>
  </div>
</div>
