<div class="row mb-5">
  <div class="col-md-2">
    <div class="lead">
      {% if include.data.note == 0 %}
        <span class="badge bg-secondary p-3" >Non applicable</span>
      {% elsif include.data.note == 1 %}
        <span class="badge bg-danger p-3">Non respecté</span>
      {% elsif include.data.note == 2 %}
        <span class="badge bg-warning p-3">Partiellement respecté</span>
      {% elsif include.data.note == 3 %}
        <span class="badge bg-success p-3">Respecté</span>
      {% endif %}
    </div>
  </div>
  <div class="guideline col-md-8">
    <div class="lead container-fluid bg-secondary p-3 rounded">{{site.data.structure.guidelines[include.guideline]}}</div>
    <div class="container-fluid m-5" >
      <div class="row">
        {% if include.data.screenshot %}
         <div class="col"> <img  src="/assets/images/games/{{include.slug}}/{{ include.data.screenshot }}" alt="Screenshot {{include.slug}}" class="img-fluid "></div>
        {% endif %}
        <span class="col" >{{ include.data.description }}</span>
      </div>
    </div>
  </div>
</div>
