<section class="secPart">
    <h2>Nos partenaires</h2>
    <div class="partenaires">
        <div class="logoPartenaires">
            <img src="/assets/images/invites/partenaires/Universite_bordeaux-montaigne.png" alt="université bordeaux montaigne">
        </div>
        <div class="logoPartenaires">
            <img src="/assets/images/invites/partenaires/mmi-bordeaux.png" alt="formation mmi bordeaux">
        </div>
        <div class="logoPartenaires">
            <img src="/assets/images/invites/partenaires/noesya.png" alt="agence noesya">
        </div>
        <div class="logoPartenaires">
            <img src="/assets/images/invites/partenaires/handigamers.png" alt="association handigamers">
        </div>
        <div class="logoPartenaires">
            <img src="/assets/images/invites/partenaires/namebay.png" alt="association handigamers">
        </div>
    </div>


</section>