<section class="secPart">
    <h2 class="col-lg-11 mb-5 col-10">Nos partenaires</h2>
    <div class="partenaires">
        <div class="logoPartenaires">
            <img src="/assets/images/invites/partenaires/Universite_bordeaux-montaigne.png" alt="université bordeaux montaigne">
        </div>
        <div class="logoPartenaires">
            <img src="/assets/images/invites/partenaires/mmi-bordeaux.png" alt="formation mmi bordeaux">
        </div>
        <div class="logoPartenaires">
            <img src="/assets/images/invites/partenaires/noesya.png" alt="agence noesya">
        </div>
        <div class="logoPartenaires">
            <img src="/assets/images/invites/partenaires/handigamers.png" alt="association handigamers">
        </div>
        <div class="logoPartenaires">
            <img src="/assets/images/invites/partenaires/nameshield.png" alt="entreprise de noms de domaines nameshield">
        </div>
        <div class="logoPartenaires">
            <img src="/assets/images/invites/partenaires/cybertaskforce.png" alt="cybertaskforce">
        </div>
        <div class="logoPartenaires">
          <img src="/assets/images/invites/partenaires/capgame.png" alt="capgame">
        </div>
        <div class="logoPartenaires">
          <img src="/assets/images/invites/partenaires/novasanco.png" alt="novasanco">
        </div>
        <div class="logoPartenaires">
          <img src="/assets/images/invites/partenaires/newgo.png" alt="newgo">
        </div>
        <div class="logoPartenaires">
          <img src="/assets/images/invites/partenaires/nstg.png" alt="nstg">
        </div>


    </div>


</section>
