.evenement{
    width: 60% !important;
    margin: 20px auto;

    .eventInner{
        width: 90%;
        margin: 0 auto 100px auto;
        position: relative;
        padding: 0;

    }
    p{

        margin-bottom: 0;
    }
    img{
        width: 100%;

    }
    button{
        width: fit-content;
        position: absolute;bottom: 0;right: 0;
        transform: translateY(150%);
        background: #EB2A4A;
        border: 0px;
        padding: 3px;
        margin-top: 20px;
        border-radius: 3px;
        margin-left: 70%;
        p{
            width: fit-content;
            margin: 0;
            color: white;
        }
    }
}
a{
    text-decoration: none;
}
.eventBlock{
    background-color: black;
    width: 80vw;
    margin: 60px auto;
    padding: 20px;
    p{
        margin-left: 20px;
    }
    h2{
        text-decoration: underline;
    }
    button{
        padding: 10px;
        border-radius: 3px;
        background-color: #EB2A4A;
        border: none;
        color: white;
        margin-top: 20px;
    }

}
.secPart {margin: 80px auto;}

.partenaires{

    padding: 18px;

    background-color: white;
    .logoPartenaires{
        display: inline-block;
        margin: 20px;
    }
    div{
        height: 49px;

        img{
            height: 100%;
            object-fit: cover;
        }

    }
}
.strong{
    font-weight: normal;
    color: #EB2A4A;
}
