.evenement{
    width: 60%;
    margin: 20px auto;
    
    .eventInner{
        width: 90%;
        margin: 0 auto 100px auto;
        position: relative;
        padding: 0;
        
    }
    p{
       
        margin-bottom: 0;
    }
    img{
        width: 100%;
        
    }
    button{
        width: fit-content;
        position: absolute;bottom: 0;right: 0;
        transform: translateY(150%);
        background: #EB2A4A;
        border: 0px;
        padding: 3px;
        margin-top: 20px;
        border-radius: 3px;
        margin-left: 70%;
        p{
            width: fit-content;
            margin: 0;
            color: white;
        }
    }
}