.container_Page_Mrg {
    margin: 0 18.5%;
}

.Container_Event_Title {
    display: flex;
    justify-content: center;
    padding: 25px 0px 35px;
}

.Container_Event_Text {
    display: flex;
    justify-content: center;
    line-height: 1.9rem;
}

.Container_Event_Logo_Whichgameforus {
    display: flex;
    justify-content: center;
}

.Container_Event_Banner_Logo {
    display: flex;
}

.Container_Event_Banner {
    
    width:  500px;
    
    margin-left: 15px;
    margin-bottom: 50px;
    img{
        object-fit: cover;
        width: 100%;
    }
}
@media screen and (max-width: 500px)
{
    .Container_Event_Banner_Logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    .Container_Event_Banner {
        width: 100%;
        margin-left: 0px;
    }
    .Container_Event_Title_Second_Text_Dp {
        flex-direction: column;
    }
    .Container_Event_Logo{
        padding-left: 0 !important;
    }
    .invite{
        article{
            width: 180px;
        }
    }
    .evenement{
        width: 100%;
    }
}
h4{
    color: #EB2A4A;
    word-wrap: break-word;
    
}

.bold {
    font-style: bold;
    padding-right: 10px;
    white-space: nowrap;
}

.Container_Event_Title_Second_Text_Dp {
    display: flex;
    padding: 5px;
    padding-left: 20px;
}

.Container_Event_Title_Second_Text_Dp > p {
    padding-top: 6px;
}

.Container_Event_Title_Second {
    text-decoration: underline;
    padding: 16px 0px;
    margin: 30px 0px 20px 0px;
}

.Container_Event_Date {
    padding: 20px 20px 50px 0px;
}

.Container_Event_Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    
}

.Container_Event_Logo_Instagram, .Container_Event_Logo_Twitch{
    display: flex;
}

.Container_Event_Logo_Instagram > h4 {
     padding-left: 10px;
}

.Container_Event_Logo_Twitch {
    padding-left: 8px;
    padding-bottom: 5px;
}

.Container_Event_Logo_Twitch > h4 {
    padding-left: 10px;
    padding-bottom: 5px;
}

.invites-container{
    width: 100%;
    
    .invite{
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row-reverse;
        gap: 10px;
        margin: 20px 0;
        
        article{
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            
            p{
                margin: 0;
            }
            p:first-child{font-weight: 600;}
            p:last-child{color: rgb(211, 211, 211);}
            width: 21vw;
        }
        .profil-img{
            height: 83px;
            width: 83px;
            border-radius: 50%;
            border: 3px solid white;
            overflow: hidden;
        }
        img{
            height: 100%;
            object-fit: cover;
        }
    }
}
h2{ text-decoration: underline;}