.evenement{
    // width: 60% !important;
    margin: 20px auto;

    .eventInner{

        margin: 0 auto 100px auto;
        position: relative;
        padding: 0;

    }
    p{

        margin-bottom: 0;
    }
    img{
        width: 100%;

    }
    button{
        width: fit-content;
        position: absolute;bottom: 0;right: 0;
        transform: translateY(150%);
        background: #EB2A4A;
        border: 0px;
        padding: 3px;
        margin-top: 20px;
        border-radius: 3px;
        margin-left: 70%;
        p{
            width: fit-content;
            margin: 0;
            color: white;
        }
    }
}
a{
    text-decoration: none;
}
.eventBlock{
    background-color: black;

    margin: 60px auto;
    padding: 20px;
    p{
        margin-left: 20px;
    }
    h2{
        text-decoration: underline;
    }
    button{
        padding: 10px;
        border-radius: 3px;
        background-color: #EB2A4A;
        border: none;
        color: white;
        margin-top: 20px;
    }

}
.secPart {margin: 80px auto;}

.partenaires{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 18px;

    background-color: white;
    .logoPartenaires{
        display: inline-block;
        margin: 17px;
    }
    div{
        height: 49px;
        width: 100%;


        img{
            height: 100%;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }

    }
}
.strong{
    font-weight: normal;
    color: #EB2A4A;
}
@media screen and (max-width: 995px){
  .partenaires{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

}
@media screen and (max-width: 515px){
  .partenaires{
    div{
      height: 30px;

    }
    img{
      margin: 0 !important;
    }

  }

}
