.checks{
    
    div{
        width: fit-content;
        display: inline-block;
        margin: 20px;

        
        border-radius: 3px;
        p{
            margin: 0;
        }
        label{
            padding: 20px 20px 20px 40px;
            width: 120px;
            background-color: $danger;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .checks-center{
        display: block;
        
        margin: 0 auto;
    }
}