.nav-tabs .nav-link
  background-color: transparent


.nav-tabs .nav-link.active
  border-bottom-color: $body-bg !important


.badge
    font-family: Arvo

.guideline
    font-family: 'Open Sans', sans-serif

.game-title
    font-family: Arvo
    font-weight: bold

.namesite
   font-family: Arvo


.navbar-dark .navbar-brand
    color: #EB2A4A
   
