.nav-tabs .nav-link
  background-color: transparent


.nav-tabs .nav-link.active
  border-bottom-color: $body-bg !important
  font-weight: bold


.badge
    font-family: Arvo

.guideline
    font-family: 'Open Sans', sans-serif

.game-title
    font-family: Arvo
    font-weight: bold

.namesite
   font-family: Arvo
   color: #EB2A4A


.navbar-dark .navbar-brand
    color: #EB2A4A
   
.footer
    padding-top: 5em

.screen
    height: 10rem
    weight: 10rem

.arvo
    font-family: Arvo
