$body-bg: #252627
$border-radius:  3px
$card-height: 20rem
$card-img-overlay-padding: 1rem
$font-family-base: 'Arvo', sans-serif
$form-text-color: #DEE2E6
$primary: #DEE2E6
$secondary: #18191A
$nav-link-color: #DEE2E6
$nav-tabs-link-active-color: white
$nav-link-hover-color: #909599
$nav-tabs-link-active-border-color: #DEE2E6
$nav-tabs-border-color: #DEE2E6
