<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML Meta Tags -->
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}" />
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ site.url }}/assets/images/share.jpg">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/images/share.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="reboot2021.org">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">

    <!-- Icons -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/assets/images/logo2022.png" alt="home page" style="width: 90px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 30px;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/#games">Jeux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/evenements">Évènements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/aboutUs">À propos de nous</a>
            </li>

          </ul>
        </nav>
      </div>
    </nav>
    <!-- {% include nav.html %} -->
    <main class="container">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
