---
layout: default
---

{% assign slug = page.title | slugify: 'latin' %}

<div class="row mb-5">
  <div class="offset-md-1 col-md-10">
    <div class="row mb-4">
      <h1 class="col align-self-start">{{ page.title }}</h1>
      <div class="col align-self-end">{{page.plateform}}</div>
    </div>
    <img src="/assets/images/games/{{ slug }}/{{slug}}.jpg" alt="{{ game.title }}" class="img-fluid mb-5">
    <div class="inter lead">
      <div class="mb-3">
        Note globale d'accessibilité : 
      </div>
      <div class="mb-5">
        {% include  evaluation.html
                    guidelines=site.data.structure.guidelines
                    evaluation=page.evaluation
                    size='big' %}
      </div>
    </div>  
    </div>
  </div>
</div>

<ul class="nav nav-tabs mt-5" role="tablist">
  {% for category in site.data.structure.categories %}
    {% assign category_slug = category.name | slugify: 'latin' %}
    {% if forloop.index0 == 0%}
      {% assign active = true %}
    {% else %}
      {% assign active = false %}
    {% endif %}
    <li class="nav-item" role="presentation">
      <a  class="nav-link {% if active %} active {% endif %} px-5 lead" id="{{ category_slug }}-tab"
          data-bs-toggle="tab"
          data-bs-target="#{{ category_slug }}"
          type="button"
          role="tab"
          aria-controls="{{ category_slug }}"
          aria-selected="true">{{ category.name }}</a>
    </li>
  {% endfor %}
</ul>

<div class="tab-content a" id="tabContent">
  {% for category in site.data.structure.categories %}
    {% assign category_slug = category.name | slugify: 'latin' %}
    {% if forloop.index0 == 0%}
      {% assign active = true %}
    {% else %}
      {% assign active = false %}
    {% endif %}
    <div  class="tab-pane show pt-4 {% if active %} active {% endif %} "
          id="{{ category_slug}}"
          role="tabpanel"
          aria-labelledby="{{ category_slug}}-tab">
      <div class="mb-5">
        <div class="text-center lead mb-2 mt-5">{{category.name}}</div>
          {% include  evaluation.html
                      guidelines=category.guidelines
                      evaluation=page.evaluation
                      size='small' %}
      </div>
      <div class="mt-10">
        {% for guideline in category.guidelines %}
          {% assign data = page.evaluation[guideline] %}
          {% include guideline.html data=data slug=slug guideline=guideline %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
