---
layout: default
---

{% assign slug = page.title | slugify: 'latin' %}

<h1 class="text-center mb-4">{{ page.title }}</h1>

<div class="row mb-5">
  <div class="offset-md-2 col-md-8">
    <img src="/assets/images/games/{{ slug }}/{{slug}}.jpg" alt="{{ game.title }}" class="img-fluid">
  </div>
</div>

<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  {% for category in site.data.structure.categories %}
    {% assign category_slug = category.name | slugify: 'latin' %}
    {% if forloop.index0 == 0%}
      {% assign active = true %}
    {% else %}
      {% assign active = false %}
    {% endif %}
    <li class="nav-item" role="presentation">
      <button class="nav-link{% if active %} active {% endif %}" id="moteur-tab"
              data-bs-toggle="tab"
              data-bs-target="#{{ category_slug }}"
              type="button"
              role="tab"
              aria-controls="{{ category_slug }}"
              aria-selected="true">{{ category.name }}</button>
    </li>
  {% endfor %}
</ul>

<div class="tab-content" id="tabContent">
  {% for category in site.data.structure.categories %}
    {% assign category_slug = category.name | slugify: 'latin' %}
    {% if forloop.index0 == 0%}
      {% assign active = true %}
    {% else %}
      {% assign active = false %}
    {% endif %}
    <div  class="tab-pane show pt-5 {% if active %} active {% endif %}"
          id="{{ category_slug}}"
          role="tabpanel"
          aria-labelledby="{{ category_slug}}-tab">
      {% for guideline in category.guidelines %}
        {% assign data = page.evaluation[guideline] %}
        {% include guideline.html data=data slug=slug %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
