---
layout: default
---

{% assign slug = page.title | slugify: 'latin' %}

<h1 class="text-center mb-4">{{ page.title }}</h1>

<div class="row mb-5">
  <div class="offset-md-2 col-md-8">
    <img src="/assets/images/games/{{ slug }}/{{slug}}.jpg" alt="{{ game.title }}" class="img-fluid">
  </div>
</div>

<div class="text-center mb-4">

  {% assign nb3 = 0%}
  {% assign nb2 = 0%}
  {% assign nb1 = 0%}

  {% for guideline in page.evaluation %}
    {% assign data = guideline[1] %}
    {% if data.note == 3 %}
      {% assign nb3 = nb3 | plus: 1 %}
    {% elsif data.note == 2 %}
      {% assign nb2 = nb2 | plus: 1  %}
    {% elsif data.note == 1 %}
      {% assign nb1 = nb1 | plus: 1  %}
    {%endif%}
  
  {% endfor %}
  
 
  

  {% assign access_tot = (nb3 * 100 + nb2 * 50) / (nb3 + nb2 + nb1) %}
  <span class="display-6">Accessibilité Totale:</span>
  <div class="lead">{{access_tot}}</div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{access_tot}}%" aria-valuenow="{{access_tot}}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

</div>

<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  {% for category in site.data.structure.categories %}
    {% assign category_slug = category.name | slugify: 'latin' %}
    {% if forloop.index0 == 0%}
      {% assign active = true %}
    {% else %}
      {% assign active = false %}
    {% endif %}
    <li class="nav-item" role="presentation">
      <button class="nav-link{% if active %} active {% endif %}" id="moteur-tab"
              data-bs-toggle="tab"
              data-bs-target="#{{ category_slug }}"
              type="button"
              role="tab"
              aria-controls="{{ category_slug }}"
              aria-selected="true">{{ category.name }}</button>
    </li>
  {% endfor %}
</ul>

<div class="tab-content" id="tabContent">
  {% for category in site.data.structure.categories %}
    {% assign category_slug = category.name | slugify: 'latin' %}
    {% if forloop.index0 == 0%}
      {% assign active = true %}
    {% else %}
      {% assign active = false %}
    {% endif %}
    <div  class="tab-pane show pt-5 {% if active %} active {% endif %}"
          id="{{ category_slug}}"
          role="tabpanel"
          aria-labelledby="{{ category_slug}}-tab">
      {% for guideline in category.guidelines %}
        {% assign data = page.evaluation[guideline] %}
        {% include guideline.html data=data slug=slug guideline=guideline %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
